<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">CodeStream Introduction</h3>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4 class="section-heading">CodeStream has a combined 40 years experience in Information Technology designing and building systems
                    for large enterprises and small startups.</h4>
                <hr class="dark">
                <h4>
                    We specialize in software development of line of business applications (web and mobile) using Microsoft technologies.
                </h4>
                <hr class="dark">

                <h4>
                    We are full stack developers, highly skilled in Microsoft technologies and the Azure cloud platform. We have extensive experience in object orientated architecture, systems design and development as well as coding practices, specifically test-driven development, agile and XP approaches.
                </h4>
                <hr class="dark">
                <h4>
                    We also specialize in Azure solutions and implementations.  We have experience in working with data solutions hosted in Azure, namely Azure SQL Server, Azure Data Factory, Azure Synapse and Azure Data Lake Storage. We implement all our solutions using industry standards with Azure DevOps.
                </h4>
                <hr class="dark">
                <h4>
                    We have experience in various industries and sectors as well as all aspects of the software development lifecycle from project conception through analysis, design and implementation and finally, to deployment, maintenance and support of the final product.
                </h4>
                <hr class="dark">
                <h4>
                    Below are links to our LinkedIn profiles which will give you a more detailed understanding of our individual skills and experience.
                </h4>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="intro3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2 text-center">
                    <i class="fa fa-3x fa-mobile text-primary sr-icons"></i>
                    <ul>
                        <li><h3>DigitalTwin (SA)</h3></li>
                        <li><h4>Asset Tracking & Monitoring System</h4></li>
                        <li>Angular, C# REST Api, Azure SQL Server, Xamarin Mobile & Azure DevOps</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-database text-primary sr-icons"></i>
                    <ul>
                        <li><h3>SMEasy (SA)</h3></li>
                        <li><h4>Small Business Online Accounting Package</h4></li>
                        <li>Angular, C# REST Api, Azure SQL Server & Azure DevOps</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-bar-chart-o text-primary sr-icons"></i>
                    <ul>
                        <li><h3>SPAR Group (SA)</h3></li>
                        <li><h4>DataLake & Reporting System</h4></li>
                        <li>Azure SQL Server, Data Factory, Synapse & DevOps</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-bar-chart-o text-primary sr-icons"></i>
                    <ul>
                        <li><h3>SPAR Group (SA)</h3></li>
                        <li><h4>Store & Vendor Master Data Systems</h4></li>
                        <li>Angular, C# REST Api & DevOps</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2 text-center">
                    <i class="fa fa-3x fa-mobile text-primary sr-icons"></i>
                    <ul>
                        <li><h3>Veridot (SA)</h3></li>
                        <li><h4>OEM Data Management System </h4></li>
                        <li>Azure SQL Server & C# REST Api & Azure DevOps</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-database text-primary sr-icons"></i>
                    <ul>
                        <li><h3>CashRewards (Australia)</h3></li>
                        <li><h4>Customer Coupon Management Application</h4></li>
                        <li>Angular</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-bar-chart-o text-primary sr-icons"></i>
                    <ul>
                        <li><h3>PROfiltr (UK)</h3></li>
                        <li><h4>Application for Connecting Professionals with Small Business Accountants</h4></li>
                        <li>MEAN Stack  & Azure DevOps</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-bar-chart-o text-primary sr-icons"></i>
                    <ul>
                        <li><h3>Chelsea Football Club (UK)</h3></li>
                        <li><h4>Live Player Data Analysis Tool</h4></li>
                        <li>Azure SQL Server, C# Azure Functions, Azure Event Hub  & Azure DevOps</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="whoweare" class="section-whoweare">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Who are we</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-offset-1 col-lg-offset-1 col-md-3 text-center">
                <div class="service-box">
                    <div class="skills-img"><a href="https://www.linkedin.com/in/allenfirth" target="_blank" title="View Allen Firth's LinkedIn profile">
                        <img style="margin-top:25px;" width="255px" src="../assets/img/af-linkedin.jpg" /></a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-offset-1 col-lg-offset-1 col-md-3 text-center">
                <div class="service-box">
                    <div class="skills-img"><a href="https://www.linkedin.com/company/codestream-systems" target="_blank" title="View CodeStream's LinkedIn profile">
                        <img style="margin-top:25px;" width="200px" src="../assets/img/portfolio/linked-in.png" /></a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <div class="skills-img">
                        <a href="https://www.linkedin.com/in/robbieribeiro" target="_blank" title="View Robbie Ribeiro's LinkedIn profile">
                            <img style="margin-top:25px;" width="255px" src="../assets/img/rr-linkedin.jpg" /></a></div>

                </div>
            </div>
        </div>
    </div>
</section>
