<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../assets/img/logo.png" />
            <hr>
            <h1 id="homeHeading">code<span>stream</span></h1>
            <p>azure cloud specialists and custom software developers</p>
            <hr>
            <a href="#cloud" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="cloud">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get help with automation, cloud service operations, and optimization</h2>
                <hr class="light">
                <a href="#intro3" class="page-scroll btn btn-default btn-xl sr-button">Cloud Services</a>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/11.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/10.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/12.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section id="intro3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Azure Cloud Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box-2 text-center">
                    <i class="fa fa-3x fa-mobile text-primary sr-icons"></i>
                    <ul class="text-muted">
                        <li><h3>Web and Mobile</h3></li>
                        <li>Web apps</li>
                        <li>Mobile apps</li>
                        <li>Api Management</li>
                        <li>Azure Functions</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-database text-primary sr-icons"></i>
                    <ul class="text-muted">
                      <li><h3>Data and Storage</h3></li>
                      <li>SQL Database</li>
                      <li>DocumentDB</li>
                      <li>Storage</li>
                      <li>Synapse</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box-2">
                    <i class="fa fa-3x fa-bar-chart-o text-primary sr-icons"></i>
                    <ul class="text-muted">
                      <li><h3>Analytics</h3></li>
                        <li>Data Lake Analytics</li>
                        <li>HDInsight</li>
                        <li>Machine Learning</li>
                        <li>Data Factory</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We build systems for mobile, web and business.</h2>
                <hr class="light">
                <a href="#intro2" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section id="intro2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we do</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart-o text-primary sr-icons"></i>
                    <h3>Dream</h3>
                    <p class="text-muted">Truly disruptive businesses dream first. Don't just keep up with the competition, dream about what
                        it will take to leap-frog the norm and become the leader in your industry.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-television text-primary sr-icons"></i>
                    <h3>Design</h3>
                    <p class="text-muted">Ensure your systems are responsive to change and able to scale before you develop them. Plan for
                        success and technology will reward you accordingly.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog text-primary sr-icons"></i>
                    <h3>Develop</h3>
                    <p class="text-muted">We build smart and test continuously which allows us to adapt on the fly to changing environments.
                        We keep it agile so that you always have a responsive partner in the development space.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-arrow-circle-right text-primary sr-icons"></i>
                    <h3>Deliver</h3>
                    <p class="text-muted">Don't wait six months to find out your project is behind schedule. We deliver on regular short intervals
                        to keep things transparent and ourselves accountable.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/7.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/8.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/9.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">CodeStream has a combined 40 years experience in Information Technology designing and building systems
                    for large enterprises and small startups.</h3>
                <hr class="light">
                <h3>We've delivered systems for businesses based in <strong>London, United Kingdom, Australia and South Africa.</strong></h3><h3>Companies like <strong>BritInsurance, Man Investments, Freshfields, CashRewards</strong> and <strong>The SPAR Group.</strong></h3>
            </div>
        </div>
    </div>
</section>
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we specialise in</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:15px;" width="200px" src="../assets/img/portfolio/azure.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:20px;" width="200px" src="../assets/img/portfolio/azuredatafactory.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:10px;" width="200px" src="../assets/img/portfolio/azuredevops.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img width="250px" src="../assets/img/portfolio/angularjs.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:15px;" width="220px" src="../assets/img/portfolio/c-sharp.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:20px;" width="200px" src="../assets/img/portfolio/ms-sql.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img width="200px" src="../assets/img/portfolio/xamarin.png" /></div>
                </div>
            </div>
        </div>
        <div class="row">
                &nbsp;
            </div>
            <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:15px;" width="200px" src="../assets/img/portfolio/ionic.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img width="200px" src="../assets/img/portfolio/nodejs.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:25px;" width="200px" src="../assets/img/portfolio/mongodb.png" /></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="skills-img"><img style="margin-top:25px;" width="200px" src="../assets/img/portfolio/docker.png" /></div>
                </div>
            </div>
        </div>


        <div class="row">
            <br /><br /><br />
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-cog text-primary sr-icons"></i> -->
                    <h3>Continuous Integration / DevOps</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-cog text-primary sr-icons"></i> -->
                    <h3>Unit / Integration Testing</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-cog text-primary sr-icons"></i> -->
                    <h3>Agile / SCRUM / XP</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="../assets/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section id="whoweare" class="section-whoweare">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Who are we</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-offset-1 col-lg-offset-1 col-md-3 text-center">
                <div class="service-box">
                    <div class="skills-img"><a href="https://www.linkedin.com/in/allenfirth" target="_blank" title="View Allen Firth's LinkedIn profile">
                        <img style="margin-top:25px;" width="255px" src="../assets/img/af-linkedin.jpg" /></a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-offset-1 col-lg-offset-1 col-md-3 text-center">
                <div class="service-box">
                    <div class="skills-img"><a href="https://www.linkedin.com/company/codestream-systems" target="_blank" title="View CodeStream's LinkedIn profile">
                        <img style="margin-top:25px;" width="200px" src="../assets/img/portfolio/linked-in.png" /></a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <div class="skills-img">
                        <a href="https://www.linkedin.com/in/robbieribeiro" target="_blank" title="View Robbie Ribeiro's LinkedIn profile">
                            <img style="margin-top:25px;" width="255px" src="../assets/img/rr-linkedin.jpg" /></a></div>

                </div>
            </div>
        </div>
    </div>
</section>
